In [18]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [14]:
os.getcwd()

'/home/innagoordoyal/code/jmclement/road_to_qatar_2022/notebooks'

In [10]:
csv_path = os.path.join('..', 'raw_data', 'teamsranking.csv')
csv_path

'../raw_data/teamsranking.csv'

In [12]:
data = pd.read_csv(csv_path)
data

     rank countryCode             countryName  totalPoints  previousPoints
0       1         BRA                  Brazil      1841.30         1837.56
1       2         BEL                 Belgium      1816.71         1821.92
2       3         ARG               Argentina      1773.88         1770.65
3       4         FRA                  France      1759.78         1764.85
4       5         ENG                 England      1728.47         1737.46
..    ...         ...                     ...          ...             ...
206   207         SRI               Sri Lanka       825.25          825.25
207   208         VIR       US Virgin Islands       823.97          823.97
208   209         VGB  British Virgin Islands       809.32          809.32
209   210         AIA                Anguilla       790.74          790.74
210   211         SMR              San Marino       762.22          763.82

[211 rows x 5 columns]

In [20]:
len(data)

211

In [21]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
206    False
207    False
208    False
209    False
210    False
Length: 211, dtype: bool

In [22]:
data.duplicated().sum()

0