In [1]:
import pandas as pd
import requests
import os
import pandas_profiling

In [14]:
merged_worldcupmatches_int_df = pd.read_csv('../raw_data/data/merged_worldcupmatches_int_df.csv')
merged_worldcupmatches_int_df.head()

         date   home_team away_team  home_score  away_score win_conditions
0  1930-07-13      France    Mexico         4.0         1.0
1  1930-07-13         USA   Belgium         3.0         0.0
2  1930-07-14  Yugoslavia    Brazil         2.0         1.0
3  1930-07-14     Romania      Peru         3.0         1.0
4  1930-07-15   Argentina    France         1.0         0.0

In [17]:
merged_worldcupmatches_int_df[merged_worldcupmatches_int_df['win_conditions']!=" "]

,date,home_team,away_team,home_score,away_score,win_conditions
18,1934-05-27,Austria,France,3.0,2.0,Austria win after extra time
34,1934-06-10,Italy,Czechoslovakia,2.0,1.0,Italy win after extra time
39,1938-06-05,Italy,Norway,2.0,1.0,Italy win after extra time
40,1938-06-05,Brazil,Poland,6.0,5.0,Brazil win after extra time
41,1938-06-05,Czechoslovakia,Netherlands,3.0,0.0,Czechoslovakia win after extra time
...,...,...,...,...,...,...
1026,2022-02-05,Cameroon,Burkina Faso,3.0,3.0,Cameroon
1027,2022-02-06,Senegal,Egypt,0.0,0.0,Senegal
1028,2022-03-29,Senegal,Egypt,1.0,0.0,Senegal
1029,2022-06-13,Australia,Peru,0.0,0.0,Australia
1030,2022-06-14,Chile,Ghana,0.0,0.0,Ghana